*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    background-color: #343f6a;
    /* overflow: hidden; */
}

header{
    background-color:#303030 ;
    width: 100%;
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
}
/* nav a{
    margin-right: 20px;
} */

main{
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.titulo-home{
    color:#fff;
    font-size: 5em;
    margin:0;
}

.slogan-home{
    color:#fff;
    font-size: 2em;
}

footer{
    background-color:#303030;
    height: 6vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    margin-bottom: 0;
}