*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    background-color: #343f6a;
}

header{
    background-color:#303030 ;
    height: 10vh;
    width: 100%;
}

nav a{
    padding-top: 3vh;
    margin-right: 10px;
}

.titulo-home{
    color:#fff;
    font-size: 5em;
    text-align: center;
    margin: 150px 0 0 0;
}

.slogan-home{
    color:#fff;
    font-size: 2em;
    text-align: center;
}

main i{
    color: #fff;
    font-size: 2em;
    text-align: center;
}

section{
    width: 100%;
    height: 2000px;
    background-color: aqua;
}