*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body{
height: auto;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c5deea+0,8abbd7+26,066dab+99 */
background: #c5deea; /* Old browsers */
background: -moz-linear-gradient(-45deg, #c5deea 0%, #8abbd7 26%, #066dab 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #c5deea 0%,#8abbd7 26%,#066dab 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #c5deea 0%,#8abbd7 26%,#066dab 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

header{
    background-color:#303030 ;
    width: 100%;
}

main{
    height: 78vh;
    max-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.titulomain{
    text-align: center;
    width: 22%;
    height: auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0.5;
    box-shadow: 0px 0px 9px 7px rgba(0, 0, 0, 0.95);
}

.titulo-home{
    color:#303030;
    font-size: 5em;
    margin:0;
}

.slogan-home{
    color:#303030;
    font-size: 2em;
}

footer{
    background-color:#303030;
    height: 6vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    clear: both;
}

footer p{
    margin-bottom: 0;
}

