.rodape{
    background-color:#312A25;
    height: 6vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #999999;
    display: flex;
    align-items: center;
    justify-content: center;
    clear: both;
}

.sair{
    margin-top: 60vh;
}

main{
    text-align: center;
}

.titulo-home{
    color:#fff;
    font-size: 5em;
    margin:60px 0 0 0;
}
.titulo{
    font-weight: bold;
}

.slogan-home{
    color:#fff;
    font-size: 2em;
}